<!DOCTYPE html>
<html>
<head>
    <title>상품 목록</title>
</head>
<body>
    <h1>상품 목록</h1>
        {% if session.get('logged_in') %}
            <p>
                <a href="/add">➕ 상품 추가하기</a> |
                <a href="/logout">로그아웃</a>
            </p>
        {% else %}
            <p>
                <a href="/login">🔐 관리자 로그인</a>
            </p>
        {% endif %}
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} - {{ product.price }}원
                <a href="/product/{{ product.id }}">[자세히 보기]</a>

                {% if session.get('logged_in') %}
                    <a href="/edit/{{ product.id }}">[수정]</a>

                    <form action="/delete/{{ product.id }}" method="post" style="display:inline;">
                        <button type="submit" onclick="return confirm('정말 삭제할까요?');">[삭제]</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

</body>
<p><a href="/add">➕ 상품 추가하기</a></p>
</html>